# Dependencies
node_modules
/server/node_modules
/client/node_modules
dist
/server/dist
/client/dist

# Environment variables
.env
/server/.env

# IDE and OS files
.DS_Store
.vscode
.idea
*.log

# Build artifacts
*.tsbuildinfo
